<div class="section">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title">Raffles</h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <% if user_signed_in? %>
            <%= link_to "New Raffle", new_raffle_path, class: "button is-primary" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="columns is-multiline">
      <% @raffles.each do |raffle| %>
        <div class="column is-one-third">
          <%= render UI::RaffleCard.new(raffle: raffle) %>
        </div>
      <% end %>
    </div>

    <% if @raffles.empty? %>
      <div class="notification is-info">
        <p class="has-text-centered">No raffles available at the moment.</p>
      </div>
    <% end %>
  </div>
</div>
