<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h1 class="title">New Raffle</h1>
        
        <%= render "form", raffle: @raffle %>
      </div>
    </div>
  </div>
</div>

