<div class="has-text-centered mb-6">
  <% if title.present? %>
    <h1 class="title is-<%= title_size %> u-mb"><%= title %></h1>
  <% end %>
  <% if subtitle.present? %>
    <p class="subtitle is-<%= subtitle_size %> has-text-grey">
      <%= subtitle %>
    </p>
  <% end %>
</div>
