<div class="has-text-centered mb-6">
  <% if title? %>
    <h1 class="title is-2 u-mb"><%= title %></h1>
  <% end %>
  <% if subtitle? %>
    <p class="subtitle is-5 has-text-grey">
      <%= subtitle %>
    </p>
  <% end %>
</div>
