@charset "utf-8";

$scheme: light;
$scheme-main: #ffffff;
$scheme-invert: #111827;
$body-background-color: #F9FAFB;
$background: #ffffff;
$text: #111827;
$text-strong: #111827;

$primary: #4F46E5;
$link: #7C3AED;
$warning: #FACC15;

$input-background-color: #ffffff;
$input-border-color: #d1d5db;
$input-color: #111827;

$button-background-color: #4F46E5;
$button-color: #ffffff;
$button-border-color: transparent;
$button-hover-background-color: #4338CA;

@import "bulma/bulma";

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #E5E7EB;
  box-shadow: none;

  .navbar-brand .navbar-item {
    font-weight: 700;
    color: #4F46E5;

    &:hover {
      color: #7C3AED;
    }
  }
}

.notification {
  padding: 15px;
  font-size: 14px;
  margin-bottom: 0px !important;
}
